.user-details-container {
  text-align: center;
  margin: 10px 0;

  h1,
  h4,
  h5 {
    margin: 0;
  }

  h1 {
    font-family: montserratbold;
  }

  h4,
  h5 {
    font-family: montserratregular;
  }
}
